#hero-section {
  @include flex($direction: column);

  min-height: 100vh;
  background-image: url('../images/hero-section-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.main-container {
  @include flex($direction: column);

  row-gap: 10.9rem;
}

.text-container {
  color: white;

  h1 {
    font-size: 5.6rem;
    font-family: 'SF-Pro-Display-Medium';
  }
  p {
    max-width: 56.8rem;
    margin: auto;
    text-align: center;
    font-size: 2.4rem;
    font-family: 'SF-Pro-Display-Light';
  }

  @include media-query(mobile) {
    h1 {
      font-size: 3.6rem;
      text-align: center;
    }

    p {
      width: 70%;
      font-size: 1.4rem;
    }
  }
}

.btn-container {
  @include flex($jc: space-between);
  gap: 1rem;
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2.3rem;
  border-radius: 50px;

  button {
    @include flex();

    padding: 0.5rem 2rem;
    border: none;
    gap: 1.5rem;
    background-color: white;
    border: 2px solid white;
    transition: all 0.3s;

    span {
      font-size: 2.1rem;
      color: #98755a;
    }

    img {
      width: 22px;
    }

    &:hover {
      transform: scale(1.03);
    }
  }

  select {
    padding: 0.5rem 2rem;
    padding-right: 45px;
    border: 2px solid white;
    column-gap: 1.5rem;
    background-color: transparent;
    font-size: 2.1rem;
    outline: none;
    background-image: url('../images/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: 91%;
    background-size: 15px 15px;
    appearance: none;
    cursor: pointer;
    transition: all 0.4s;
    color: white;

    option {
      color: black;
    }

    &:last-child {
      background-color: white;
      background-image: url('../images/search-normal-1.png');
      background-position: 10%;
      background-size: 20px 20px;
      color: #98755a;
      padding-left: 4.5rem;
      padding-right: 2rem;
    }

    &:hover {
      border-color: #98755a;
    }
  }

  @include media-query(mobile) {
    flex-wrap: wrap;
    backdrop-filter: blur(30px);
    border-radius: 0;
    button {
      flex: 1;
      span {
        font-size: 1.1rem;
      }
    }
  }
}

.discover-container {
  text-decoration: none;
}

.discover {
  @include flex($direction: column);

  gap: 0.6rem;
  position: absolute;
  bottom: 0;
  margin-bottom: 1.7rem;
  transition: all 0.4s;

  span {
    font-size: 1.2rem;

    &:last-child {
      width: 3px;
      height: 3px;
      background-color: white;
    }
  }

  &:hover {
    transform: translateY(-5px);
  }

  @include media-query(mobile) {
    width: 100%;
    left: 0;
  }
}
