header {
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgb(37, 67, 89);
  background: linear-gradient(180deg, rgba(37, 67, 89, 1) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 0.5rem 14.4rem;
  width: 100%;

  a {
    color: white;
    font-family: 'SF-Pro-Display-Regular';
  }

  @include media-query(mobile) {
    padding: 2rem;
  }
}

.navbar-toggler {
  background-color: white;
  padding: 1rem 1rem;
  outline: none;

  &:focus {
    box-shadow: initial;
  }
}

.navbar-toggler-icon {
  background-image: url('../images/menu-icon.svg');
}

.navbar-nav {
  flex: 1;
  li {
    flex: 1;
  }
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: white;
}

.navbar .container-fluid {
  a {
    flex: 1;
    text-align: right;
    @include media-query(mobile) {
      text-align: left;
    }
  }
}

.nav-item {
  a {
    font-size: 1.6rem;
  }
}

.sign-up-btn {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  transition: all 0.4s;

  &:hover {
    border-color: transparent;
    background-color: white;
    color: #4177a1;
  }
}

.login-btn {
  border: 2px solid transparent;
  background-color: white;
  color: #4177a1;
  transition: all 0.4s;

  &:hover {
    border-color: white;
    background-color: transparent;
    color: white;
  }
}

.flag {
  width: 32px;
  height: 32px;
}

.navbar-collapse {
  span {
    font-size: 21px;
  }
}
