header {
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgb(37, 67, 89);
  background: linear-gradient(180deg, rgb(37, 67, 89) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 0.5rem 14.4rem;
  width: 100%;
}
.navbar a {
  color: white;
  font-family: "SF-Pro-Display-Regular";
}
@media (max-width: 600px) {
  .navbar {
    padding: 2rem;
  }
}

.navbar-toggler {
  background-color: white;
  padding: 1rem 1rem;
  outline: none;
}
.navbar-toggler:focus {
  box-shadow: initial;
}

.navbar-toggler-icon {
  background-image: url("../images/menu-icon.svg");
}

.navbar-nav {
  flex: 1;
}
.navbar-nav li {
  flex: 1;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: white;
}

.navbar .container-fluid a {
  flex: 1;
  text-align: right;
}
@media (max-width: 600px) {
  .navbar .container-fluid a {
    text-align: left;
  }
}

.nav-item a {
  font-size: 1.6rem;
}

.sign-up-btn {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  transition: all 0.4s;
}
.sign-up-btn:hover {
  border-color: transparent;
  background-color: white;
  color: #4177a1;
}

.login-btn {
  border: 2px solid transparent;
  background-color: white;
  color: #4177a1;
  transition: all 0.4s;
}
.login-btn:hover {
  border-color: white;
  background-color: transparent;
  color: white;
}

.flag {
  width: 32px;
  height: 32px;
}

.navbar-collapse span {
  font-size: 21px;
}

#hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../images/hero-section-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10.9rem;
}

.text-container {
  color: white;
}
.text-container h1 {
  font-size: 5.6rem;
  font-family: "SF-Pro-Display-Medium";
}
.text-container p {
  max-width: 56.8rem;
  margin: auto;
  text-align: center;
  font-size: 2.4rem;
  font-family: "SF-Pro-Display-Light";
}
@media (max-width: 600px) {
  .text-container h1 {
    font-size: 3.6rem;
    text-align: center;
  }
  .text-container p {
    width: 70%;
    font-size: 1.4rem;
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2.3rem;
  border-radius: 50px;
}
.btn-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem 2rem;
  border: none;
  gap: 1.5rem;
  background-color: white;
  border: 2px solid white;
  transition: all 0.3s;
}
.btn-container button span {
  font-size: 2.1rem;
  color: #98755a;
}
.btn-container button img {
  width: 22px;
}
.btn-container button:hover {
  transform: scale(1.03);
}
.btn-container select {
  padding: 0.5rem 2rem;
  padding-right: 45px;
  border: 2px solid white;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  background-color: transparent;
  font-size: 2.1rem;
  outline: none;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 91%;
  background-size: 15px 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  transition: all 0.4s;
  color: white;
}
.btn-container select option {
  color: black;
}
.btn-container select:last-child {
  background-color: white;
  background-image: url("../images/search-normal-1.png");
  background-position: 10%;
  background-size: 20px 20px;
  color: #98755a;
  padding-left: 4.5rem;
  padding-right: 2rem;
}
.btn-container select:hover {
  border-color: #98755a;
}
@media (max-width: 600px) {
  .btn-container {
    flex-wrap: wrap;
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
    border-radius: 0;
  }
  .btn-container button {
    flex: 1;
  }
  .btn-container button span {
    font-size: 1.1rem;
  }
}

.discover-container {
  text-decoration: none;
}

.discover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
  position: absolute;
  bottom: 0;
  margin-bottom: 1.7rem;
  transition: all 0.4s;
}
.discover span {
  font-size: 1.2rem;
}
.discover span:last-child {
  width: 3px;
  height: 3px;
  background-color: white;
}
.discover:hover {
  transform: translateY(-5px);
}
@media (max-width: 600px) {
  .discover {
    width: 100%;
    left: 0;
  }
}

#explore-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 100vh;
  padding: 4.8rem 14.4rem;
  position: relative;
}
#explore-section hr {
  width: 5px;
  height: 100%;
  border: 0;
  background-color: #83b8df;
}
@media (max-width: 600px) {
  #explore-section {
    flex-direction: column;
    padding: 2rem;
    row-gap: 2rem;
  }
}

.bg-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 95.2rem;
  height: 47.7rem;
}
.bg-container img {
  width: 100%;
}
@media (max-width: 600px) {
  .bg-container {
    display: none;
  }
}

.left-section {
  flex: 1;
  min-height: calc(100vh - 10rem);
}
.left-section h2 {
  font-family: "SF-Pro-Display-Semibold";
  text-align: left;
  font-size: 5.6rem;
  margin-bottom: 1.4rem;
  color: #365d7d;
}
.left-section p {
  font-family: "SF-Pro-Display-Regular";
  font-size: 2rem;
  color: #4177a1;
  max-width: 60.1rem;
}
@media (max-width: 600px) {
  .left-section {
    min-height: auto;
  }
}

.right-section {
  min-height: calc(100vh - 10rem);
  flex: 1;
  border: 1px solid #83b8df;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  font-family: "SF-Pro-Display-Medium";
  padding: 3.2rem;
  color: #4177a1;
  transition: all 0.3s;
}
.top-left h3,
.top-right h3,
.bottom-left h3,
.bottom-right h3 {
  font-size: 2.4rem;
}
.top-left .explore-btn-container,
.top-right .explore-btn-container,
.bottom-left .explore-btn-container,
.bottom-right .explore-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.top-left .explore-btn-container h3,
.top-right .explore-btn-container h3,
.bottom-left .explore-btn-container h3,
.bottom-right .explore-btn-container h3 {
  font-size: 2.4rem;
}
.top-left .explore-btn-container button,
.top-right .explore-btn-container button,
.bottom-left .explore-btn-container button,
.bottom-right .explore-btn-container button {
  background-color: transparent;
  border: none;
  transition: all 0.4s;
}
.top-left .explore-btn-container button:hover,
.top-right .explore-btn-container button:hover,
.bottom-left .explore-btn-container button:hover,
.bottom-right .explore-btn-container button:hover {
  transform: translateX(5px);
}
.top-left:hover,
.top-right:hover,
.bottom-left:hover,
.bottom-right:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 10px rgba(125, 125, 125, 0.1);
}

.top-left {
  border-bottom: 1px solid #83b8df;
  border-right: 1px solid #83b8df;
}

.top-right {
  background-image: url("../images/luxurioius-designs-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  border-bottom: 1px solid #83b8df;
}

.bottom-left {
  border-right: 1px solid #83b8df;
}

#themes-section {
  min-height: 100vh;
  padding: 4.8rem 14.4rem;
  background-color: #254359;
  color: white;
}
@media (max-width: 600px) {
  #themes-section {
    padding: 2rem;
    text-align: center;
  }
}

.customize-slider {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
}
@media (max-width: 600px) {
  .customize-slider {
    flex-direction: column;
  }
}

.themes-left-section {
  flex: 1;
}

.themes-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.text-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-left: 4.8rem;
  padding-right: 5.4rem;
  width: 100%;
}
.text-content h3 {
  font-size: 2.4rem;
  font-family: "SF-Pro-Display-Semibold";
  margin: 3rem 0;
}
.text-content h3 span:first-child {
  font-size: 2.4rem;
  font-family: "SF-Pro-Display-Semibold";
}
.text-content h3 span:last-child {
  font-size: 1.6rem;
  font-family: "SF-Pro-Display-Regular";
}
@media (max-width: 600px) {
  .text-content {
    padding: 0;
  }
  .text-content h3 {
    font-size: 1.4rem;
  }
  .text-content h3 span:first-child {
    font-size: 1.4rem;
  }
  .text-content h3 span:last-child {
    font-size: 1rem;
  }
}

.themes-right-section {
  flex: 1;
  padding: 0 8rem;
  min-width: 71.7rem;
  background-image: url("../images/themes-right-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.themes-right-section h2 {
  font-size: 5.6rem;
  font-family: "SF-Pro-Display-Semibold";
}
.themes-right-section p {
  font-size: 2rem;
  font-family: "SF-Pro-Display-Regular";
}
.themes-right-section .view-all-btn {
  padding: 1rem 3.1rem;
  font-size: 1.6rem;
  font-family: "SF-Pro-Display-Regular";
  border-radius: 50px;
  border: 1px solid white;
  color: #4177a1;
  background-color: white;
  transition: all 0.3s;
}
.themes-right-section .view-all-btn:hover {
  background-color: transparent;
  color: white;
}
@media (max-width: 600px) {
  .themes-right-section {
    background-image: none;
    padding: 0;
    min-width: auto;
  }
  .themes-right-section h2 {
    font-size: 3.6rem;
  }
  .themes-right-section p {
    font-size: 1.2rem;
    width: 70%;
    margin: auto;
    margin-bottom: 2rem;
  }
}

.rent-services-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-left: 4.8rem;
}
.rent-services-container p {
  font-size: 1.6rem;
  max-width: 53.2rem;
}
@media (max-width: 600px) {
  .rent-services-container {
    flex-direction: column;
    padding: 0;
  }
  .rent-services-container p {
    font-size: 1rem;
    text-align: center;
  }
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid #83b8df;
  padding: 1rem 2.5rem;
  gap: 5.4rem;
}
.services div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
}
.services div span {
  font-size: 1.6rem;
  font-family: "SF-Pro-Display-Light";
}

.carousel-inner {
  overflow: hidden;
  position: static;
  width: initial;
}

.carousel-indicators {
  position: static;
  margin: 0;
  margin-top: 3.2rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.carousel-indicators button {
  background-image: url("../images/theme-slider-image.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.carousel-indicators [data-bs-target] {
  min-width: 17.5rem;
  min-height: 12.8rem;
  margin: 0;
  margin-right: 1.6rem;
  border-radius: 1.6rem;
  background-clip: initial;
  border: none;
  transform: scale(0.8);
  transition: all 0.4s ease-in-out;
}

.themes-right-section .carousel-indicators .active {
  transform: scale(1);
}

.carousel-controlers {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-top: 21.1rem;
  gap: 1.5rem;
}
@media (max-width: 600px) {
  .carousel-controlers {
    margin-top: 2rem;
    justify-content: center;
  }
}

.carousel-control-next,
.carousel-control-prev {
  position: static;
  display: initial;
  border: 1px solid white;
  width: 6.6rem;
  height: 6.6rem;
  border-radius: 50px;
}

.carousel-control-prev {
  border-color: #83b8df;
}

.carousel-control-prev-icon {
  background-image: url("../images/arrow-right.png");
}

.themes-image-container img {
  width: 100%;
}

#about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 600px) {
  #about-us {
    text-align: center;
  }
}

.about-us-left-container {
  flex: 1;
  padding: 4.8rem 0;
  padding-left: 14.4rem;
  min-height: 80vh;
  color: #4177a1;
  background-image: url("../images/about-us-left-bg.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;
}
.about-us-left-container h2 {
  font-size: 5.6rem;
  font-family: "SF-Pro-Display-Semibold";
}
.about-us-left-container p {
  max-width: 46.4rem;
  font-size: 2rem;
  font-family: "SF-Pro-Display-Regular";
}
.about-us-left-container .about-us-text-container {
  padding-left: 11.2rem;
  padding-top: 0.9rem;
}
@media (max-width: 600px) {
  .about-us-left-container {
    padding: 2rem;
  }
  .about-us-left-container .about-us-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    row-gap: 2rem;
  }
}

.about-us-right-container {
  flex: 1;
  padding: 4.8rem 0;
  padding-right: 14.4rem;
}
.about-us-right-container img {
  transition: all 0.4s;
}
.about-us-right-container img:hover {
  transform: translateY(-5px);
}
@media (max-width: 600px) {
  .about-us-right-container {
    display: none;
  }
}

footer {
  background-color: #254359;
  color: white;
  background-image: url("../images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
}
footer hr {
  background-color: #83b8df;
  border: none;
  height: 1px;
  margin-top: 4.4rem;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  -moz-column-gap: 19.3rem;
       column-gap: 19.3rem;
  padding: 0 14.4rem;
  padding-top: 5.9rem;
}
@media (max-width: 600px) {
  .footer-container {
    padding: 2rem;
    flex-wrap: wrap;
  }
}

#plot-footer {
  max-width: 37.5rem;
}
#plot-footer .logo-container {
  margin-bottom: 4.7rem;
}
#plot-footer p {
  font-size: 1.6rem;
  font-family: "SF-Pro-Display-Regular";
  margin-bottom: 2rem;
}
@media (max-width: 600px) {
  #plot-footer {
    margin-bottom: 3rem;
  }
}

.social-media {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 3.2rem;
       column-gap: 3.2rem;
}
.social-media .footer-image-container {
  transition: all 0.3s;
}
.social-media .footer-image-container:hover {
  transform: translateY(5px);
}

#explore-footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 3.8rem;
}
#explore-footer h3 {
  font-size: 2rem;
  font-family: "SF-Pro-Display-Bold";
}
#explore-footer div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 2.2rem;
}
#explore-footer div a {
  text-decoration: none;
  color: #cad7e0;
  font-size: 1.6rem;
  font-family: "SF-Pro-Display-Medium";
  transition: all 0.3s;
}
#explore-footer div a:hover {
  color: white;
}
@media (max-width: 600px) {
  #explore-footer {
    margin-bottom: 3rem;
  }
}

#contact-us-footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 3.8rem;
}
#contact-us-footer h3 {
  font-size: 2rem;
  font-family: "SF-Pro-Display-Bold";
}
#contact-us-footer .contact-us-details-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 2.2rem;
}
#contact-us-footer .contact-us-details-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
}
#contact-us-footer .contact-us-details-container div span {
  font-size: 1.6rem;
  color: #cad7e0;
  font-family: "SF-Pro-Display-Medium";
}

#copy-rights {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#copy-rights p {
  font-size: 1.6rem;
  margin: 0;
  padding-top: 1.4rem;
  padding-bottom: 1.6rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
@font-face {
  font-family: "SF-Pro-Display-Regular";
  src: url("../fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Display-Bold";
  src: url("../fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Display-Light";
  src: url("../fonts/SF-Pro-Display-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Display-Semibold";
  src: url("../fonts/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Display-Medium";
  src: url("../fonts/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

html {
  margin: 0 !important;
}/*# sourceMappingURL=styles.css.map */